/*  your css code here. If applicable */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "item1 item1 item1 item1"
    "item2 item3 item4 item4"
    "item2 item5 item5 item6"
    "item2 item7 item8 item9"
    "item2 item10 item10 item10";
  gap:5px;
}

.item1 {
  background:green;
  padding: 20px;
  grid-area: item1;
}

.item2 {
  background: green;
  padding: 20px;
  grid-area: item2;
}

.item3 {
  background: green;
  padding: 20px;
  grid-area: item3;
}

.item4 {
  background: green;
  padding: 20px;
  grid-area: item4;
}

.item5 {
  background: green;
  padding: 20px;
  grid-area: item5;
}

.item6 {
  background:green;
  padding: 20px;
  grid-area: item6;
}

.item7 {
  background: green;
  padding: 20px;
  grid-area: item7;
}

.item8 {
  background: green;
  padding: 20px;
  grid-area: item8;
}

.item9 {
  background:green;
  padding: 20px;
  grid-area: item9;
}

.item10 {
  background: green;
  padding: 20px;
  grid-area: item10;
}
